$anthias-purple-1: #003f86;
$anthias-purple-2: #0051ac;
$anthias-purple-3: #1261bb;
$anthias-purple-4: #1f6cc4;
$anthias-yellow-1: #0dbbda;
$anthias-yellow-2: #14a6c0;
$anthias-yellow-3: #188699;
$anthias-yellow-4: #1e7483;

$anthias-yellow-gradient: linear-gradient(133.73deg, $anthias-yellow-1, $anthias-yellow-2);
